{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ page_title }}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam aliquid aspernatur, at aut cum deserunt dicta doloribus eius, et explicabo incidunt numquam odio odit officiis pariatur quaerat qui quibusdam quisquam quod rem, saepe sed sequi similique sit vero voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam deleniti eaque ipsum possimus sit. Aliquam consequuntur cupiditate dolorem doloremque ducimus eius est fugit impedit itaque libero maiores, minima numquam officia provident quae quibusdam recusandae sequi sit tempora ullam. Fuga odit pariatur voluptate voluptatem. Aliquid asperiores eum illum ipsum iure iusto laudantium, quas voluptatem! Asperiores error est possimus quaerat suscipit voluptas.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur error eum ipsum laborum nesciunt nihil sed vitae! Aspernatur culpa dolorem eius excepturi incidunt itaque laborum nulla repudiandae velit voluptatibus. Ea?</p>

{% endblock %}

{% block title %}{{ page_title }}{% endblock %}

